---
import BlogPost from "@/components/blog/BlogPost.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const tutoPosts = Object.values(
    import.meta.glob("../posts/Actus_Tendances/*.md", { eager: true })
  );

  const cocon1Posts = Object.values(
    import.meta.glob("../posts/*.md", { eager: true })
  );

  const allPosts = [...tutoPosts, ...cocon1Posts];

  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag: any) => ({
    params: { tag },
    props: { posts: allPosts },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post: any) =>
  post.frontmatter.tags?.includes(tag)
);
---

<BlogLayout pageTitle={tag}>
  <div class="my-24"></div>
  <p>Articles étiquetés avec {tag}</p>
  <ul>
    {
      filteredPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BlogLayout>
