---
import Hero from "@/components/molecules/Hero.astro";
import FeaturesOverview from "@/components/organisms/FeaturesOverview.astro";
import Solutions from "@/components/molecules/Solutions.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import FeatureTeacher from "@/components/atoms/FeatureTeacher.astro";
import FeatureParent from "@/components/atoms/FeatureParent.astro";
import FeatureAdmin from "@/components/atoms/FeatureAdmin.astro";
import Testimonials from "@/components/atoms/Testimonials.astro";
import CTA from "@/components/atoms/CTA.astro";
import FAQ from "@/components/organisms/FAQ.astro";

const pageTitle =
  "Accueil | EduXcoM - Plateforme de gestion scolaire open source";
---

<MainLayout title={pageTitle}>
  <div class="snap-container">
    {/* Section 1: Hero */}
    <div id="home" class="section-container">
      <div
        class="container mx-auto flex h-full flex-col justify-center sm:px-4"
      >
        <Hero />
      </div>
    </div>

    {/* Section 2: Features */}
    <div id="features" class="features-container">
      <div class="section-container">
        <div
          class="container mx-auto flex h-full flex-col justify-center px-2 sm:px-4"
        >
          <FeaturesOverview />
        </div>
      </div>
      <div class="section-container">
        <div
          class="container mx-auto flex h-full flex-col justify-center px-2 sm:px-4"
        >
          <FeatureTeacher />
        </div>
      </div>
      <div class="section-container">
        <div
          class="container mx-auto flex h-full flex-col justify-center px-2 sm:px-4"
        >
          <FeatureParent />
        </div>
      </div>
      <div class="section-container">
        <div
          class="container mx-auto flex h-full flex-col justify-center px-2 sm:px-4"
        >
          <FeatureAdmin />
        </div>
      </div>
    </div>

    {/* Section 3: CTA */}
    <div class="section-container">
      <div
        class="container mx-auto flex h-full flex-col justify-center px-2 sm:px-4"
      >
        <CTA
          title="Réussissez votre transition numérique"
          appel="Notre équipe d'experts vous accompagne pas à pas dans la mise en place d'EduXcoM et la formation de votre personnel."
          btn="Découvrir notre accompagnement"
          imageUrl="https://images.unsplash.com/photo-1639503667014-6533f3f34831?q=80&w=1887"
          alt="Etudiant réussit et saute devant la mer"
        />
      </div>
    </div>

    {/* Section 4: Solutions */}
    <div class="section-container">
      <div class="container mx-auto flex flex-col justify-center px-2 sm:px-4">
        <Solutions />
      </div>
    </div>

    {/* Section 5: Testimonials */}
    <div class="section-container">
      <div
        class="container mx-auto flex h-full flex-col justify-center px-2 sm:px-4"
      >
        <Testimonials />
      </div>
    </div>

    {/* Section 5: CTA */}
    <div class="section-container">
      <div
        class="container mx-auto flex h-full flex-col justify-center px-2 sm:px-4"
      >
        <CTA
          title="Prêt à transformer votre établissement ?"
          appel="Réservez une démonstration gratuite avec l'un de nos experts et découvrez comment EduXcoM vous fait gagner du temps."
          btn="Demander une démo personnalisée"
          imageUrl="https://images.unsplash.com/photo-1494386346843-e12284507169?q=80&w=1964"
          alt="mains tenant des lumières"
        />
      </div>
    </div>

    {/* Section 6: FAQ */}
    <div id="faq" class="section-container">
      <div class="container mx-auto flex h-full flex-col justify-center px-4">
        <FAQ />
      </div>
    </div>
  </div>

  <style>
    .snap-container {
      height: 100dvh;
      overflow-y: auto;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
      /* Ajoutez cette propriété pour éviter le défilement du body */
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      /* Assurez-vous que le contenu est visible */
      z-index: 1;
    }

    .section-container {
      min-height: 100dvh;
      width: 100%;
      display: flex;
      flex-direction: column;
      scroll-snap-align: start;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
    }

    /* Ajoutez cette media query pour les écrans de petite hauteur */
    @media (max-height: 600px) {
      .section-container {
        min-height: auto; /* Permettre aux sections de s'adapter au contenu */
        padding: 3rem 0; /* Plus d'espace vertical */
      }
    }
  </style>
</MainLayout>
