---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import FeaturesOverview from '../components/FeaturesOverview.astro';
import FeaturesDetails from '../components/FeaturesDetails.astro';
---

<MainLayout title="EduXcoM - Logiciel de gestion scolaire innovant">
  <div class="container mx-auto">
    <Hero />
    <FeaturesOverview />
    <FeaturesDetails />
  </div>
</MainLayout>
