---
import MainLayout from "@/layouts/MainLayout.astro";
import Hero from "@/components/molecules/Hero.astro";
import FeaturesOverview from "@/components/organisms/FeaturesOverview.astro";
import FeaturesDetails from "@/components/molecules/FeaturesDetails.astro";
import Solutions from "@/components/molecules/Solutions.astro";
import Testimonials from "@/components/atoms/Testimonials.astro";
import FAQ from "@/components/organisms/FAQ.astro";

const pageTitle =
  "Accueil | EduXcoM - Plateforme de gestion scolaire open source";
---

<MainLayout title={pageTitle}>
  <div id="home" class="container mx-auto">
    <Hero />
    <FeaturesOverview />
    <FeaturesDetails />
    <Solutions />
    <Testimonials />
    <FAQ />
  </div></MainLayout
>
