---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="EduXcoM - Logiciel de gestion scolaire innovant">
  <!-- Le reste du contenu de la page viendra ici -->
  <div class="h-screen flex items-center justify-center mt-20">
    <h1 class="text-4xl font-bold">Page en construction</h1>
  </div>
</MainLayout>