---
import Hero from "@/components/molecules/Hero.astro";
import FeaturesOverview from "@/components/organisms/FeaturesOverview.astro";
import Solutions from "@/components/molecules/Solutions.astro";

import MainLayout from "@/layouts/MainLayout.astro";
import FeatureTeacher from "@/components/atoms/FeatureTeacher.astro";
import FeatureParent from "@/components/atoms/FeatureParent.astro";
import FeatureAdmin from "@/components/atoms/FeatureAdmin.astro";

const pageTitle =
  "Accueil | EduXcoM - Plateforme de gestion scolaire open source";
---

<MainLayout title={pageTitle}>
  <div id="home" class="container mx-auto pt-20">
    <div class="section-container">
      <Hero />
    </div>

    <div id="features" class="features-container">
      <div class="section-container">
        <FeaturesOverview />
      </div>
      <div class="section-container">
        <FeatureTeacher />
      </div>
      <div class="section-container">
        <FeatureParent />
      </div>
      <div class="section-container">
        <FeatureAdmin />
      </div>
    </div>

    <div class="section-container">
      <Solutions />
    </div>
  </div>
</MainLayout>

<style>
  .section-container {
    min-height: 100vh; /* Hauteur minimale, mais peut être plus grand si nécessaire */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    scroll-snap-align: start;
  }

  /* Sur grands écrans, optimisé pour affichage plein écran */
  @media (min-width: 1024px) {
    .section-container {
      height: 100vh;
      justify-content: center;
    }
  }
</style>
