---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import FeaturesOverview from '../components/FeaturesOverview.astro';
import FeaturesDetails from '../components/FeaturesDetails.astro';
const pageTitle = 'Accueil | EduXcoM - Plateforme de gestion scolaire open source';
---

<MainLayout title={pageTitle}>
  <div class="container mx-auto">
    <Hero />
    <!-- <FeaturesOverview />
    <FeaturesDetails /> -->
  </div>
</MainLayout>
