---

---

<li
  class="text-dark dark:text-light flex items-start gap-3 text-base leading-relaxed"
>
  <span class="pt-1 !text-blue-500">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-4l5-5-1.414-1.414L9 11.172 7.414 9.586 6 11l3 3z"
        clip-rule="evenodd"></path>
    </svg>
  </span>
  <span><slot /></span>
</li>
