---

---

<div class="my-8 overflow-x-auto">
  <table
    class="border-primary dark:border-primary-dark w-full border-2 text-left text-sm"
  >
    <!-- <thead class="dark:text-primary-dark bg-light text-primary dark:bg-dark">
      <tr class="border-primary dark:border-primary-dark border-2">
        <th>
          <slot name="head" />
        </th>
      </tr>
    </thead> -->
    <tbody class="bg-light dark:bg-dark">
      <tr class="border-primary dark:border-primary-dark border-2">
        <td class="border-primary dark:border-primary-dark border-2">
          <slot />
        </td>
      </tr>
    </tbody>
  </table>
</div>
