---
import ToggleTheme from "@/components/atoms/ToggleTheme.astro";

const blogItems = [
  {
    name: "Site Principal",
    link: "/",
  },
  {
    name: "Blog",
    link: "/blog",
  },
  {
    name: "Contact",
    link: "/#demo",
  },
];
---

<!-- Navigation Links -->
<div class="hidden items-center space-x-4 px-2 md:flex">
  {
    blogItems.map(item => (
      <a
        href={item.link}
        class="nav-link text-dark dark:text-light hover:text-primary dark:hover:text-primary-dark relative !text-sm font-medium tracking-wide transition-colors duration-300 lg:!text-base xl:!text-lg"
      >
        {item.name}
        <span class="nav-indicator bg-primary dark:bg-primary-dark absolute bottom-[-16px] left-0 h-[2px] w-0 transition-all duration-300 ease-in-out" />
      </a>
    ))
  }
</div>

<!-- Toggle Theme Toggler & CTA Button -->
<div class="hidden items-center space-x-4 md:flex">
  <ToggleTheme name="theme-toggle-desktop-blog" />
  <a
    href={"/#demo"}
    class="btn-primary flex items-center !text-xs lg:p-2 lg:!text-xl"
  >
    Je réserve ma démo
  </a>

  <script>
    const markActiveLink = () => {
      const navLinks = document.querySelectorAll(".nav-link");

      // Gérer le survol des liens
      navLinks.forEach(link => {
        link.addEventListener("mouseenter", () => {
          if (!link.classList.contains("active")) {
            const indicator = link.querySelector(".nav-indicator");
            if (indicator) {
              indicator.classList.add("w-full", "opacity-50");
            }
          }
        });

        link.addEventListener("mouseleave", () => {
          if (!link.classList.contains("active")) {
            const indicator = link.querySelector(".nav-indicator");
            if (indicator) {
              indicator.classList.remove("w-full", "opacity-50");
            }
          }
        });
      });
    };

    // Appliquer au chargement
    document.addEventListener("DOMContentLoaded", markActiveLink);
    document.addEventListener("astro:page-load", markActiveLink);
  </script>
</div>
