---
interface Props {
  color: string;
  darkColor: string;
}

const { color = "", darkColor = "" } = Astro.props;
---

<!-- Le text-* détermine currentColor pour fill-current -->
<div class={`relative w-full text-primary dark:text-primary-dark`}>
  <div class="bg-current">
    <!-- Optionnel : contenu dans la zone colorée -->
  </div>

  <svg
    viewBox="0 0 1440 212"
    preserveAspectRatio="none"
    class={`absolute bottom-0 left-0 w-full h-[120px] fill-current ${color} ${darkColor}`}
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0,16 C360,260 1080,260 1440,16 L1440,212 L0,212 Z"></path>
  </svg>
</div>
