---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="text-light dark:text-dark bg-primary dark:bg-primary-dark mb-4 inline-block rounded-full px-3 py-1 text-sm font-medium"
>
  {title}
</div>
