---
import { Icon } from "astro-icon/components";

const beforeEduRootS = [
  "Un fichier Excel par classe",
  "Des appels à 22h pour retrouver un élève absent",
  "Des infos éparpillées entre WhatsApp, mails, SMS",
];

const afterEduRootS = [
  "Tout est centralisé, visible, fluide",
  "Suivi des absences, notes, devoirs en 1 clic",
  "Communication instantanée entre les équipes et les familles",
];
---

<section class="w-full px-4 sm:px-6 lg:px-8">
  <div class="mx-auto">
    <h2 class="mb-4 text-center md:mb-8">
      Ce que vivent les écoles AVANT / APRÈS Eduroots
    </h2>

    <div class="mb-8 lg:mb-0 lg:grid lg:grid-cols-2 lg:gap-8">
      <!-- AVANT -->
      <div
        class="bg-light-dark/25 dark:bg-dark-background mb-8 rounded-lg p-8 text-center lg:mb-0"
      >
        <h3 class="!text-error dark:!text-error-dark mb-4 font-bold lg:mb-6">
          Sans Eduroots :
        </h3>
        <ul class="space-y-3 lg:space-y-4">
          {
            beforeEduRootS.map(feature => (
              <li class="flex items-center py-8">
                <Icon
                  name="x-circle"
                  class="!text-error dark:!text-error-dark mr-3 h-5 w-5 flex-shrink-0 lg:h-6 lg:w-6"
                />
                <span>{feature}</span>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- APRÈS -->
      <div class="dark:bg-success/30 bg-success-dark/5 rounded-lg p-8">
        <h3
          class="!text-success dark:!text-success-dark mb-4 text-center lg:mb-6"
        >
          Avec Eduroots :
        </h3>
        <ul class="space-y-3 lg:space-y-4">
          {
            afterEduRootS.map(feature => (
              <li class="flex items-center py-8">
                <Icon
                  name="check-circle"
                  class="!text-success dark:!text-success-dark mr-3 h-5 w-5 flex-shrink-0"
                />
                <span class="text-lg">{feature}</span>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
