---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  btn: string;

  imageUrl: any;
  alt: string;
}

const { btn, title, imageUrl, alt } = Astro.props;
---

<section
  class="bg-light-dark dark:bg-dark-background relative w-full overflow-hidden rounded-xl shadow-md"
>
  <div class="flex flex-col-reverse items-center lg:flex-row">
    <!-- Texte -->
    <div
      class="flex w-full flex-col justify-center px-6 py-8 text-center lg:w-1/2 lg:px-12 lg:text-left"
    >
      <h2>{title}</h2>

      <a
        href="#demo"
        class="btn-primary group my-6 inline-flex items-center justify-center"
      >
        {btn}
        <div class="mr-4 sm:mr-0">
          <Icon
            name="arrow-right"
            class="text-light dark:text-dark group-hover:text-dark dark:group-hover:text-light ml-3 h-5 w-5 flex-shrink-0 lg:h-6 lg:w-6"
          />
        </div>
      </a>
      <p>
        Sans engagement – réponse sous 24h – démonstration en visio avec un
        membre de l’équipe
      </p>
    </div>

    <!-- Image -->
    <div
      class="relative aspect-[4/3] w-full sm:aspect-[16/9] lg:aspect-auto lg:w-1/2"
    >
      <Image
        src={imageUrl}
        alt={alt}
        width={1600}
        height={1200}
        sizes="(max-width: 768px) 100vw, 50vw"
        class="h-full w-full object-cover object-left-top lg:rounded-r-xl"
        loading="lazy"
      />
    </div>
  </div>
</section>
