---
import AnimatedSection from "@/components/atoms/AnimatedSection.astro";
import { Image } from "astro:assets";
import interfaceAdminTablet from "@/assets/pictures/eduxcom-tableau-bord-administratif-tablet.webp";
---

<article
  class="mx-auto grid w-full grid-cols-1 gap-8 py-8 md:grid-cols-2 md:gap-12 lg:py-12"
>
  <!-- Contenu textuel -->
  <aside class="order-1 flex flex-col justify-center px-4 md:order-last">
    <AnimatedSection direction="left" delay={0.1}>
      <h2 class="mb-4">Pour les administrateurs</h2>
      <p>
        Une vue claire sur tout l’établissement. Plus de contrôle, moins de
        stress.
      </p>
    </AnimatedSection>
  </aside>

  <!-- Image -->
  <aside class="order-2 flex items-center justify-center px-4 md:px-0">
    <div class="mx-auto w-full max-w-lg">
      <Image
        src={interfaceAdminTablet}
        alt="Tableau de bord administratif du logiciel de gestion scolaire EduXcoM"
        widths={[200, 400, 600, 800, 1200]}
        sizes="(max-width: 767px) 90vw, calc(50vw - 24px)"
        quality={70}
        format="webp"
        loading="lazy"
        class="h-auto w-full rounded-lg object-contain transition-all duration-300 hover:scale-[1.02] hover:drop-shadow-xl"
      />
    </div>
  </aside>
</article>
