---
import { Icon } from "astro-icon/components";

interface Props {
  iconName: string;
}

const { iconName } = Astro.props;
---

<div
  class="text-light bg-primary mb-6 flex h-12 w-12 items-center justify-center rounded-lg"
>
  <Icon name={iconName} class="text-3xl" />
</div>
