---
import { Icon } from "astro-icon/components";

interface Props {
  iconName: string;
}

const { iconName } = Astro.props;
---

<div
  class="text-light bg-primary mb-6 flex h-8 w-8 items-center justify-center rounded-lg md:h-12 md:w-12"
>
  <Icon name={iconName} class="text-base md:text-3xl" />
</div>
