---
import { Icon } from "astro-icon/components";

export interface Props {
  title: string;
  content: string;
  iconName: string;
  rotate?: string;
}

const { title, content, iconName, rotate = "0deg" } = Astro.props;
---

<div
  class="relative rounded bg-amber-50 p-6 shadow-md transition-transform duration-300 hover:scale-105 hover:rotate-0 dark:bg-[#E2A412]"
  style={`transform: rotate(${rotate});`}
>
  <!-- "Punaise" en haut -->
  <div class="absolute -top-3 left-1/2">
    <Icon name="pin" class="text-3xl" />
  </div>

  <div class="mb-4 flex items-center">
    <div
      class="text-primary dark:text-[#002638]-dark mr-4 flex h-10 w-10 items-center justify-center"
    >
      <Icon name={iconName} class="text-3xl" />
    </div>
    <h3>
      {title}
    </h3>
  </div>
  <p>
    {content}
  </p>
</div>
