---
import { Icon } from "astro-icon/components";

interface Props {
  iconName: string;
  description: string;
}

const { description, iconName } = Astro.props;
---

<div class="flex md:items-center">
  <Icon
    name={iconName}
    class="text-secondary dark:text-secondary-dark"
    size="32"
  />

  <span class="text-dark dark:text-light ml-3 text-xs md:text-sm"
    >{description}</span
  >
</div>
