---
import CardIcon from "@/components/atoms/FeaturesCardIcon.astro";

interface Props {
  iconName: string;
  title: string;
  descriptif: string;
}

const { iconName, title, descriptif } = Astro.props;
---

<div
  class="dark:bg-dark-background relative overflow-hidden rounded-xl bg-white p-6 shadow-md transition-transform duration-300 hover:-translate-y-2"
>
  <CardIcon iconName={iconName} />
  <h2>{title}</h2>
  <p>{descriptif}</p>
</div>
