---
import FeatureCard from "@/components/molecules/FeatureCard.astro";
---

<section class="w-full px-4 py-12 sm:px-6 lg:px-8">
  <div class="mx-auto">
    <h2 class="mb-12 text-center text-3xl font-bold">
      Nos fonctionnalités principales
    </h2>

    <!-- Version mobile: cartes défilables horizontalement -->
    <div class="block overflow-x-auto pb-6 sm:hidden">
      <div class="flex w-[300%] gap-4">
        <!-- Card 1 -->
        <FeatureCard
          iconName="book-open"
          title="Solution numérique pour enseignants"
          descriptif="Gestion simplifiée des notes, devoirs et présences avec notre application de gestion pédagogique"
        />
        <!-- Card 2 -->
        <FeatureCard
          iconName="chart-line"
          title="Système d'information scolaire"
          descriptif="Tableaux de bord intuitifs et statistiques détaillées pour une gestion d'établissement optimisée"
        />
        <!-- Card 3 -->
        <FeatureCard
          iconName="users"
          title="Outil communication parents-professeurs"
          descriptif="Suivi des élèves en ligne et communication directe entre les parents et l'équipe éducative"
        />
      </div>
    </div>

    <!-- Version tablette et desktop: grille responsive -->
    <div
      class="hidden sm:grid sm:grid-cols-1 sm:gap-6 md:grid-cols-2 xl:grid-cols-3"
    >
      <!-- Card 1 -->
      <FeatureCard
        iconName="book-open"
        title="Solution numérique pour enseignants"
        descriptif="Gestion simplifiée des notes, devoirs et présences avec notre application de gestion pédagogique"
      />
      <!-- Card 2 -->
      <FeatureCard
        iconName="chart-line"
        title="Système d'information scolaire"
        descriptif="Tableaux de bord intuitifs et statistiques détaillées pour une gestion d'établissement optimisée"
      />
      <!-- Card 3 -->
      <FeatureCard
        iconName="users"
        title="Outil communication parents-professeurs"
        descriptif="Suivi des élèves en ligne et communication directe entre les parents et l'équipe éducative"
      />
    </div>
  </div>
</section>
