---
import FeatureCard from '@/components/molecules/FeatureCard.astro';
---

<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-40 lg:mt-40">
  <!-- Card 1 -->
   <FeatureCard
    iconName="BookOpen"
    title="Solution numérique pour enseignants"
    descriptif="Gestion simplifiée des notes, devoirs et présences avec notre application de gestion pédagogique"
    />

  <!-- Card 2 -->
  <FeatureCard
  iconName="ChartLine"
  title="Système d'information scolaire"
  descriptif="Tableaux de bord intuitifs et statistiques détaillées pour une gestion d'établissement optimisée"
  />


  <!-- Card 3 -->
  <FeatureCard
  iconName="Users"
  title="Outil communication parents-professeurs"
  descriptif="Suivi des élèves en ligne et communication directe entre les parents et l'équipe éducative"
  />
</section>
