---
import NavbarDesktop from "@/components/molecules/NavbarDesktop.astro";
import NavbarMobile from "@/components/molecules/NavbarMobile.astro";
import { Icon } from "astro-icon/components";
---

<nav class="bg-light dark:bg-dark fixed top-0 left-0 z-50 w-full shadow-md">
  <div class="container mx-auto px-4">
    <div class="flex h-20 items-center justify-between">
      <!-- LEFT -->
      <a href="/" aria-label="Retour à l'accueil" class="flex items-center">
        <Icon
          name="logo-Eduroots"
          class="text-primary dark:text-primary-dark"
          size="40"
        />
        <span
          class="!text-primary dark:!text-primary-dark ml-1 !text-4xl font-bold"
          >Edu</span
        >
        <span
          class="!text-secondary dark:!text-secondary-dark !text-4xl font-bold"
          >roots</span
        >
      </a>

      <NavbarDesktop />

      <NavbarMobile />
    </div>
  </div>
</nav>
